apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: auth-ingress
  namespace: price-monitoring
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - auth.price-monitoring.kuroweb.net
        - www.auth.price-monitoring.kuroweb.net
      secretName: auth-ingress-cert
  rules:
    - host: auth.price-monitoring.kuroweb.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: auth-provider-service
                port:
                  number: 3000
    - host: www.auth.price-monitoring.kuroweb.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: auth-provider-service
                port:
                  number: 3000
