#
# Service
#

apiVersion: v1
kind: Service
metadata:
  name: backend-redis-service
  namespace: price-monitoring
spec:
  selector:
    app: price-monitoring
    server: backend-redis
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 6379
      targetPort: 6379
  loadBalancerIP: 192.168.0.213

---
#
# Deployment
#

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-redis-deployment
  namespace: price-monitoring
  labels:
    app: price-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: price-monitoring
      server: backend-redis
  template:
    metadata:
      labels:
        app: price-monitoring
        server: backend-redis
    spec:
      securityContext:
        fsGroup: 999
      # NOTE: AOF fileに問題が生じてPodが起動しない場合に利用する
      # initContainers:
      #   - name: repair-redis
      #     image: redis
      #     command: ['sh', '-c', "echo 'y' | redis-check-aof --fix /data/appendonlydir/appendonly.aof.manifest"]
      #     volumeMounts:
      #       - name: backend-redis-storage
      #         mountPath: /data
      containers:
        - name: backend-redis
          image: redis
          args: ["--appendonly", "yes"]
          ports:
            - name: http
              containerPort: 6379
          volumeMounts:
            - name: backend-redis-storage
              mountPath: /data
          env:
            - name: ALLOW_EMPTY_PASSWORD
              value: "yes"
      volumes:
        - name: backend-redis-storage
          persistentVolumeClaim:
            claimName: backend-redis-storage

---
#
# PVC
#

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-redis-storage
  namespace: price-monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi
