apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: price-monitoring
spec:
  selector:
    app: price-monitoring
    server: frontend
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 3000
  loadBalancerIP: 10.15.100.217

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: price-monitoring
  labels:
    app: price-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: price-monitoring
      server: frontend
  template:
    metadata:
      labels:
        app: price-monitoring
        server: frontend
    spec:
      containers:
        - name: frontend
          image: registry.local:5000/price-monitoring-frontend:263c2526
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: NEXT_PRIVATE_API_URL
              value: "http://backend-service:3000"
              # value: "http://10.15.100.210:3000"
            - name: NEXT_PUBLIC_API_URL
              value: "https://price-monitoring.kuroweb.net"
              # value: "http://10.15.100.210:3000"
