apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: web-ingress-cert
  namespace: price-monitoring
spec:
  secretName: web-ingress-cert
  issuerRef:
    name: tls-cluster-issuer
    kind: ClusterIssuer
  commonName: price-monitoring.kuroweb.net
  dnsNames:
    - price-monitoring.kuroweb.net
    - www.price-monitoring.kuroweb.net
  renewBefore: 720h
  duration: 2160h
