apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-ingress
  namespace: price-monitoring
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - price-monitoring.kuroweb.net
        - www.price-monitoring.kuroweb.net
      secretName: web-ingress-cert
  rules:
    - host: price-monitoring.kuroweb.net
      http:
        paths:
          - path: /sidekiq
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 3000
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 3000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 80
    - host: www.price-monitoring.kuroweb.net
      http:
        paths:
          - path: /sidekiq
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 3000
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 3000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 80

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: web-ingress-cert
  namespace: price-monitoring
spec:
  secretName: web-ingress-cert
  issuerRef:
    name: tls-cluster-issuer
    kind: ClusterIssuer
  commonName: price-monitoring.kuroweb.net
  dnsNames:
    - price-monitoring.kuroweb.net
    - www.price-monitoring.kuroweb.net
  renewBefore: 720h
  duration: 2160h
