apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: datadog-agent
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.datadoghq.com
    chart: datadog
    targetRevision: 3.67.0
    helm:
      values: |
        datadog:
          apiKeyExistingSecret: datadog-secret
          site: ap1.datadoghq.com
          tags:
            - "env:production"
          kubelet:
            tlsVerify: false
          env:
            - name: DD_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          apm:
            enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: datadog
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
