apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: datadog-agent
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://helm.datadoghq.com
    chart: datadog
    targetRevision: 3.67.0
    helm:
      values: |
        datadog:
          apiKeyExistingSecret: datadog-secret
          site: ap1.datadoghq.com
          tags:
            - "env:production"
            - "service:price-monitoring"
            - "version:v1.0.0"
          kubelet:
            tlsVerify: false
          env:
            - name: DD_HOSTNAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          apm:
            enabled: true
        clusterAgent:
          enabled: true
          env:
            - name: DD_API_KEY
              valueFrom:
                secretKeyRef:
                  name: datadog-secret
                  key: api-key
  destination:
    server: https://kubernetes.default.svc
    namespace: datadog
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
