apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://charts.longhorn.io
    chart: longhorn
    targetRevision: 1.10.1
    helm:
      values: |
        defaultSettings:
          defaultDataPath: "/storage-1"
        service:
          ui:
            type: LoadBalancer
            annotations:
              service.beta.kubernetes.io/load-balancer-ip: "192.168.0.201"
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
