apiVersion: v1
kind: Service
metadata:
  name: registry-backend-service
  namespace: docker-registry
spec:
  selector:
    app: registry-backend
  type: LoadBalancer
  ports:
    - name: docker-port
      protocol: TCP
      port: 5000
      targetPort: 5000
  loadBalancerIP: 10.15.100.202

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: registry-backend
  namespace: docker-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: registry-backend
  template:
    metadata:
      labels:
        app: registry-backend
        name: registry-backend
    spec:
      nodeSelector:
        kubernetes.io/hostname: worker-1
      containers:
        - name: registry-backend
          image: registry:2
          ports:
            - containerPort: 5000
          volumeMounts:
            - name: registry-backend-storage
              mountPath: /var/lib/registry
      volumes:
        - name: registry-backend-storage
          persistentVolumeClaim:
            claimName: registry-backend-storage

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: registry-backend-storage
  namespace: docker-registry
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 50Gi
