apiVersion: v1
kind: Service
metadata:
  name: backend-db-service
spec:
  selector:
    app: price-monitoring
    server: backend-db
  type: LoadBalancer
  ports:
    - name: http
      protocol: TCP
      port: 3306
      targetPort: 3306

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-db-deployment
  labels:
    app: price-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: price-monitoring
      server: backend-db
  template:
    metadata:
      labels:
        app: price-monitoring
        server: backend-db
    spec:
      containers:
        - name: backend-db
          image: mysql/mysql-server:8.0
          ports:
            - name: http
              containerPort: 3306
          volumeMounts:
            - name: backend-db-storage
              mountPath: /var/lib/mysql
          env:
            - name: MYSQL_ROOT_HOST
              value: "%"
            - name: MYSQL_ALLOW_EMPTY_PASSWORD
              value: "yes"
      volumes:
        - name: backend-db-storage
          persistentVolumeClaim:
            claimName: backend-db-storage

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-db-storage
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 20Gi
